# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Data files
/Data

# Paper
/Paper
.DS_Store
ec1_surfacewaterDOM_paper.Rproj
EXCHANGE_Manuscript_Analyses_files/figure-html/ANOVA for DOC-1.png
EXCHANGE_Manuscript_Analyses_files/figure-html/ANOVA for DOC-2.png
EXCHANGE_Manuscript_Analyses_files/figure-html/Anova for SUVA254-1.png
EXCHANGE_Manuscript_Analyses_files/figure-html/Anova for SUVA254-2.png
EXCHANGE_Manuscript_Analyses_files/figure-html/Figure 2 DOC and SUVA-1.png
Figures/Fig_2_Water_Chem_Plots.png
Figures/Fig_3_Corr_Plots.png
Figures/Fig_4_PCA_Plots.png
Figures/Fig_5_FTICR_Plots.png
Figures/Fig_S1_Water_Chem_Plots.png
Figures/Fig_S2_PARAFAC_Plots.png
Figures/Fig_S3_vk_Plots.png
Figures/Fig_S4_FTICR_Plots.png
Paper/Roebuck_Exchange_DOM_Chemistry_Final.docx
Figures/Fig_2_Water_Chem_Plots.png
Figures/Fig_3_Corr_Plots.png
Figures/Fig_4_PCA_Plots.png
Figures/Fig_5_FTICR_Plots.png
Figures/Fig_S1_Water_Chem_Plots.png
Figures/Fig_S2_PARAFAC_Plots.png
Figures/Fig_S3_vk_Plots.png
Figures/Fig_S4_FTICR_Plots.png
Paper/Roebuck_Exchange_DOM_Chemistry_Final.docx
/Figures
/Paper
/GitIgnore
